.env
.env.local
.env.*.local
__pycache__/
*.pyc
instance/
.webassets-cache
venv/
env/
ENV/
build/
dist/
*.egg-info/
pip-wheel-metadata/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
pytest_cache/
.pytest_cache/
cover/
hypothesis/
.pyre/
.mypy_cache/
.dmypy.json